{% extends 'base.html' %}
{% load static %}
	{% load crispy_forms_tags %}
{% block body %}


<div id ="cover-image">
    <div class="row h-100">
        <div class="card cover-card vh-100 align-right">
          <h1 class="cover-heading fw-bold text-left" style="font-size: 42px; color:white; margin-top: 100px"> <img src="{% static 'images/bookwise.svg' %}" height="60" width="40">ookwise</h1>

			<br>


    <div class="container p-5">
        {% include 'partials/messages.html' %}
        <section class="text-white">
	    <h2 class="font-weight-bold mt-3">Password Reset Confirm</h2>
		<hr>
        <p>Please enter your new password.</p>
        <form method="POST">
            {% csrf_token %}
            {{ form|crispy }}
            <br>
            <button type="submit" class="btn btn-primary" style="background-color: brown">Reset password</button>
        </form>
            </section>
    </div>
        </div>
    </div>
</div>
{% endblock %}
