{% extends 'base.html' %}
{% load static %}
	{% load crispy_forms_tags %}
{% block body %}

	<!--Reset Password-->
<div id ="cover-image">
    <div class="row h-100">
        <div class="card cover-card vh-100 align-right">
            <div class="row me-auto fw-bold" style="margin-left: 5%">
                <a class="btn" href="{% url 'login' %}" id="startingScreensBackBtn" style="font-size: 36px"><strong><i class="bi bi-arrow-left"></i></strong></a>
            </div>
          <h1 class="cover-heading fw-bold text-left" style="font-size: 42px; color:white; margin-top: 24px"> <img src="{% static 'images/bookwise.svg' %}" height="60" width="40">ookwise</h1>
			<br>

        <div class="row mt-5 w-75 mx-auto" style="color: white">

		{% include 'partials/messages.html' %}
  	 	<h2 class="fw-bold mt-3">Reset Password</h2>
		<hr style="width: 75%" class="mx-auto">
            <p><strong>Forgotten your password?</strong></p>
            <p class="mb-5"> Enter your email address below, and an email containing instructions for setting a new one will be sent.</p>

        <form method="POST">
            {% csrf_token %}
            {%  include 'partials/bootstrap_form.html' with form=password_reset_form %}
            <button type="submit" class="btn" id="bookwiseGeneralBtn" style="padding: 10px; text-transform: uppercase">Send</button>
        </form>
		</div>
  	</div>
		</div>
	</div>
</div>
{% endblock %}
