{% extends 'base.html' %}
{% load static %}
	{% load crispy_forms_tags %}
{% block body %}

<!--Password Reset -->


<div id ="cover-image">
    <div class="row h-100">
        <div class="card cover-card vh-100 align-right">
          <h1 class="cover-heading fw-bold text-left" style="font-size: 42px; color:white; margin-top: 100px"> <img src="{% static 'images/bookwise.svg' %}" height="60" width="40">ookwise</h1>

			<br>


    <div class="container p-5">
        {% include 'partials/messages.html' %}
        <section class="text-white">
	    <h2 class="fw-bold mt-4">Password Reset</h2>

		<hr>
        <p>Please enter your new password.</p>
        <form method="POST">
            {% csrf_token %}
            {%  include 'partials/bootstrap_form.html' with form=form %}
            <br>
            <button type="submit" class="btn" id="bookwiseGeneralBtn" style="text-transform: uppercase; padding: 10px">Reset password</button>
        </form>
            </section>
    </div>
        </div>
    </div>
</div>

{% endblock %}

