asgiref     
attrs
backports.zoneinfo
certifi
charset-normalizer
click
coverage
dj-database-url
Django
django-bootstrap-pagination
django-heroku
django-widget-tweaks
Faker
gunicorn
idna
iniconfig
libgravatar
mypy-extensions
packaging
pathspec
pip
platformdirs
pluggy
py
pyparsing
pytest
pytest-django
python-dateutil
pytz
regex
requests
setuptools
six
sqlparse
text-unidecode
toml
tomli
typing-extensions
urllib3
wheel
whitenoise
