{% extends 'base_content.html' %}
{% load bootstrap_pagination %}
{% block content %}
    <div class="container">
    <div class="row">
        <div class="col-12">
   <body>
      {% if not applicants %}
      <h3>You have no pending applications.</h3>
      {% else %}
      <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for clubs and applicants.." title="Type in a name" size="30">
      <table id="myTable" class="table">
        <thead class="table-light">
          <tr>
            <th scope="col" style="width:15%">Club Applying To</th>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Age</th>
            <th scope="col">Date Joined</th>
            <th scope="col" style="width:30%">Bio</th>
            <th scope="col">Favourite Genre</th>
            <th scope="col">Location</th>
            <th scope="col">Accept</th>
            <th scope="col">Reject</th>
          </tr>
        </thead>
    {% for a in page_obj %}
      <tr>
        <td>{{ a.club.name }}</td>
        <td>{{ a.applicant.first_name }}</td>
        <td>{{ a.applicant.last_name }}</td>
        <td>{{ a.applicant.age }}</td>
        <td>{{ a.applicant.date_joined }}</td>
        <td>{{ a.applicant.public_bio }}</td>
        <td>{{ a.applicant.favourite_genre }}</td>
        <td>{{ a.applicant.location }}</td>
        <td><a class="btn btn-default" href="{% url 'app_accept' pk=a.pk %}"><span class="btn btn-dark" style="background-color: green">Accept</span></a></td>
        <td><a class="btn btn-default" href="{% url 'app_remove' pk=a.pk %}"><span class="btn btn-dark" style="background-color: red">Reject</span></a></td>
      </tr>
    {% endfor %}
  </table>
  {% bootstrap_paginate page_obj range=6 previous_label="Previous" next_label="Next" show_first_last="true" %}
  {% endif %}
   </body>
        </div>
</div>
    </div>
<script>
function myFunction() {
    var input = document.getElementById("myInput");
    var filter = input.value.toUpperCase();
    var table = document.getElementById("myTable");
    var tr = table.getElementsByTagName("tr");
    var tds = tr.getElementsByTagName("td");

    for (var i = 0; i < tr.length; i++) {
        var firstCol = tds[0].textContent.toUpperCase();
        var secondCol = tds[1].textContent.toUpperCase();
        if (firstCol.indexOf(filter) > -1 || secondCol.indexOf(filter) > -1) {
            tr[i].style.display = "";
        } else {
            tr[i].style.display = "none";
        }
    }
}
// function myFunction() {
//   var input, filter, table, tr, td, i, txtValue;
//   input = document.getElementById("myInput");
//   filter = input.value.toUpperCase();
//   table = document.getElementById("myTable");
//   tr = table.getElementsByTagName("tr");
//   for (i = 0; i < tr.length; i++) {
//     td = tr[i].getElementsByTagName("td")[0];
//     if (td) {
//       txtValue = td.textContent || td.innerText;
//       if (txtValue.toUpperCase().indexOf(filter) > -1) {
//         tr[i].style.display = "";
//       } else {
//         tr[i].style.display = "none";
//       }
//     }
//   }
// }

function myFunction() {
  var input, filter, table, tr, td, i, txtValue;
  input = document.getElementById("myInput");
  filter = input.value.toUpperCase();
  table = document.getElementById("myTable");
  tr = table.getElementsByTagName("tr");
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[0];
    if (td) {
      txtValue = td.textContent || td.innerText;
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }
  }
}

</script>
{% endblock %}
