{% extends 'base_content.html' %}
{% block content %}


    <div class="container">
    <div class="row">
        <div class="col-3">
              <button class="btn" id="bookwiseGeneralBtn" style="text-transform: uppercase; font-size: 14px; padding: 10px"  onclick="history.back()"><i class="bi bi-arrow-left"></i> Back </button>
        </div>
    </div>
        <div class="row">
            <div class="col-4 text-center my-auto h-100">
                <img src="{{ book.large_url }}" alt="{{ book.title }}'s cover image" style="max-width: 240px">
            </div>
            <div class="col-8">
            <h2 class="text-left fw-bold"><strong>{{book.title}}</strong></h2>
                <h5 class="text-muted">by {{book.author}}</h5>
            <br>
            <div class="row mb-3">
            <div class="col-4">
            <div class="row">

                <div class="col-3 h-100">

                    {% if book in request.user.currently_reading_books.all %}
          <form action="{% url 'remove_from_reading_list_book_profile' book.id %}" method="post">
            {% csrf_token %}
           <button type="submit" class="btn" id="bookwiseGeneralBtn" style="font-size: 24px"><i class="bi bi-bookmarks-fill"></i></button>
         </form>
         {% else %}
          <form action="{% url 'add_to_reading_list_book_profile' book.id %}" method="post">
            {% csrf_token %}
           <button type="submit" class="btn" id="bookwiseGeneralBtn" style="font-size: 24px"><i class="bi bi-bookmarks"></i></button>
         </form>
          {% endif %}
                </div>
                <div class="col-9 my-auto h-100">
                    {% if book in request.user.currently_reading_books.all %}
                        <p class="text-muted">Remove from Reading List</p>
                    {% else %}
                        <p class="text-muted">Add to Reading List</p>

                    {% endif %}

                </div>

            </div>
                        </div>

            <div class="col-4">

            <div class="row">

                <div class="col-3">
                     {% if book in request.user.favourite_books.all %}
                      <form action="{% url 'unfavourite_book_profile' book.id %}" method="post">
                        {% csrf_token %}
                      <button type="submit" class="btn" id="bookwiseGeneralBtn" style="font-size: 24px"><i class="bi bi-star-fill"></i></button>
                      </form>
                      {% else %}
                       <form action="{% url 'make_favourite_book_profile' book.id %}" method="post">
                         {% csrf_token %}
                      <button type="submit" class="btn" id="bookwiseGeneralBtn" style="font-size: 24px"><i class="bi bi-star"></i></button>
                      </form>
                      {% endif %}
                </div>

                <div class="col-9 my-auto">
                    {% if book in request.user.favourite_books.all %}
                        <p class="text-muted">Remove from Favourites</p>
                    {% else %}
                        <p class="text-muted">Add to Favourites</p>

                    {% endif %}
                </div>



                        </div>
            </div>



                    {% if rating > 0 %}
                        <div class="col-4">

                <div class="row">

                    <div class="col-6 my-auto">
                    <p class="text-muted text-right"><strong>Your Rating</strong></p>

                    </div>

                    <div class="col-2 my-auto">
                        <h1 class="text-muted text-right"><strong>{{rating}}</strong></h1>

                    </div>
                        <div class="col-4 mt-auto text-left">
                        <p class="text-muted"><strong>/10</strong></p>

                        </div>
                        </div>

            </div>

                    {% endif %}



            </div>


                <table class="table table-borderless table-hover" style="border-radius: 5px; border-style: groove; border-color: brown">
                    <tr>
                        <td>
                            Title
                        </td>
                        <td>{{ book.title }}</td>
                    </tr>

                    <tr>
                        <td>
                            ISBN
                        </td>
                        <td>{{ book.isbn }}</td>
                    </tr>
                    <tr>
                        <td>
                            Author
                        </td>
                        <td>
                            {{ book.author }}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Publication Year
                        </td>
                        <td>{{ book.pub_year }}</td>
                    </tr>
                    <tr>
                        <td>
                            Publishing Company
                        </td>
                        <td>
                            {{ book.publisher }}
                        </td>
                    </tr>
                </table>

                <div class="row">
                            <form action="{% url 'update_ratings' book.id %}" method="post">
                    {% csrf_token %}
                    <label for="ratings"><strong>Rate {{ book.title }}</strong>(1-10)</label>
                    <select class="form-select" name="ratings" id="ratings">
                      <option value=1>1</option>
                      <option value=2>2</option>
                      <option value=3>3</option>
                      <option value=4>4</option>
                      <option value=5>5</option>
                      <option value=6>6</option>
                      <option value=7>7</option>
                      <option value=8>8</option>
                      <option value=9>9</option>
                      <option value=10>10</option>
                    </select>
                    <br>
                    <button type="submit" class="btn" id="bookwiseGeneralBtn">Submit</button>
                  </form>

                </div>

            </div>
        </div>
    <br>
    <div class="row">
        <h5 class="text-left"><strong>Comments Section</strong></h5>
        <div id="disqus_thread"></div>
    <script>
        var disqus_config = function () {
        this.page.url = window.location.href;  // Replace PAGE_URL with your page's canonical URL variable
        this.page.identifier = window.location.href; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
        };

        (function() { // DON'T EDIT BELOW THIS LINE
        var d = document, s = d.createElement('script');
        s.src = 'https://localhost-8000-b6e1mwjp94.disqus.com/embed.js';
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
</div>
<script id="dsq-count-scr" src="//localhost-8000-b6e1mwjp94.disqus.com/count.js" async></script>
    </div>
    </div>

{% endblock %}
