{% extends 'base_content.html' %}
{% block content %}
  <div class="container">
    <div class="row">
        <div>
            <a class="btn" href="{% url 'inbox' %}" id="bookwiseGeneralBtn" style="text-transform: uppercase; padding: 10px"><i class="bi bi-arrow-left"></i> Back</a>
        </div>
    </div>
  <div class="row mt-5">
      <div class="card w-100 my-auto mx-auto" style="padding: 10px; border-style: groove; border-color: brown">
        
            {%if request.user == chat.receiver%}
                <div class="row">
                    <div class="col-4">
                       <a href="{% url 'user_profile' chat.user.id %}"><img src="{{ chat.user.mini_gravatar }}" alt="{{ chat.user.get_full_name }}'s gravatar" style="border-radius: 10px"></a>
                    </div>
                    <div class="col-4 my-auto text-left">
                             <h5 class="text-muted fw-bold">{{chat.receiver.get_full_name}}</h5>
                        </div>
                </div>

            {%else%}
              <div class="row">
                    <div class="col-1">
                        <a href="{% url 'user_profile' chat.receiver.id %}"><img src="{{ chat.receiver.mini_gravatar }}" alt="{{ chat.receiver.get_full_name }}'s gravatar" style="border-radius: 10px"></a>
                    </div>
                    <div class="col-4 my-auto text-left">
                         <h5 class="text-muted fw-bold">{{chat.receiver.get_full_name}}</h5>
                    </div>
                </div>
            {%endif%}
      </div>
    </div>
    {% if message_list.all.count == 0 %}
    <div class="row my-5">
      <div class="col-md-12">
        <p class="empty-text">No Messages</p>
      </div>
    </div>
    {% endif %}
    {% for message in message_list %}
    <div class="row">
      <div class="col-md-12 my-1">
        {% if message.sender_user == request.user %}
      <div class="sent-message my-3">
        <p>{{ message.body }}</p>
        <p id="timestamp">{{message.date|date:"M y G:i"}}</p>  
      {% if message.club %}
          <a class="btn float-end" href="{% url 'club_profile' message.club.id %}" style="color:white; background-color: brown; text-transform:uppercase; font-size: 14px"><i class="bi bi-briefcase"></i> Join</a>
          {% endif %}
      </div>
    {% elif message.receiver_user == request.user%}
    <div class="received-message my-3">
      <p>{{ message.body }}</p>
      <p id="timestamp_receiver">{{message.date|date:"M y G:i"}}</p>  
    {% if message.club %}
          <a class="btn float-end" href="{% url 'club_profile' message.club.id %}" style="color:white; background-color: brown; text-transform:uppercase; font-size: 14px"><i class="bi bi-briefcase"></i> Join</a>
          {% endif %}
    </div>
    {% endif %}
    </div>
  </div>
  {% endfor %}
  <div class="row">
    <div class="card p-3" style="border-style: groove; border-color: brown">
      <form method="POST" action="{% url 'create_message' chat.pk %}" enctype="multipart/form-data">
        {% csrf_token %}
        {% include 'partials/bootstrap_form.html' with form=form %}
          <button type="submit" class="btn" id="bookwiseGeneralBtn">Send</button>
      </form>
    </div>
</div>
</div>
{% endblock content %}