<!-- club list page adapted from the chess club project -->
{% extends 'base_content.html' %}
{% block content %}
<div class="container">
  <div class="application-title">
      <div class="row">
          <div class="col">
              <h1>Clubs</h1>
          </div>

          <div class="col">
    <a class="btn float-end" href="{% url 'new_club' %}" style='padding-top: 15px; padding-bottom: 15px; color:white; background-color: brown'>Create club</a>
          </div>

      </div>


  </div>
  <div class="book-table">
      <table class="table">
        <thead>
      <tr>
        <th scope="col">Profile Picture</th>
        <th scope="col">Name</th>
        <th scope="col">Description</th>
        <th scope="col">Location</th>
      </tr>
    </thead>
    <tbody>
      {% for entry in clubs %}

      <tr scope="row" role="button" data-href="#clubIDwillGoHere">

        <td> <img src="{{ entry.mini_gravatar }}" alt="Gravatar of club {{ entry.name }}" class="rounded-circle" >
          <td> {{ entry.name }} </td>
          <td>{{ entry.description }} </td>
        <td>{{ entry.location }}</td>
      </tr>

      {% endfor %}
    </tbody>
      </table>
  </div>
</div>
{% endblock %}
