{% extends 'base_content.html' %}
{% block content %}

<div class="container" style="padding-top: 25px">
    <div class="row">
        <div class="col-3 text-center">
             <img src="{{ club.gravatar }}" alt="Gravatar of {{ club.name }}" class="rounded-circle profile-image" >
            <br>
            <br>
            <h3>{{ club.name }}</h3>
                  <p>{{ club.description }}</p>

        </div>
        <div class="col-6 text-center">

            <h5>PUT CLUB POSTS HERE</h5>

        </div>

        <div class="col-3">

            <div class="card w-100">
                      <div class="card-body">
                        <div class="row">
                          <div class="col-3">
                              <h6 class="card-title"><i class="bi bi-geo-alt"></i></h6>
                          </div>
                          <div class="col">
                              <h6 class="card-title">{{club.location}}</h6>
                          </div>
                        </div>

                      </div>
                    </div>
                  <div class="card w-100">
                      <div class="card-body">
                        <a href="{% url 'club_members' club.id %}">
                          <div class="row">
                              <div class="col-3">
                                  <h6 class="card-title"><i class="bi bi-person-badge"></i></h6>
                              </div>
                              <div class="col">
                                  <h6 class="card-title">{{club.get_all_users|length}} members</h6>
                              </div>
                          </div>
                        </a>
                      </div>
                    </div>
                      <div class="card w-100">
                      <div class="card-body">
                        <a href="{% url 'user_profile' club.owner.id %}">
                          <div class="row">
                              <div class="col-3">
                                  <h6 class="card-title"><i class="bi bi-person"></i></h6>
                              </div>
                              <div class="col">
                                  <h6 class="card-title" >{{ club.owner.first_name }} {{ club.owner.last_name }}</h6>
                              </div>
                          </div>
                        </a>
                      </div>
                    </div>
                    <div class="card w-100">
                      <div class="card-body">
                      <div class="row">
                          <div class="col-3">

                        {% if club.meeting_online == True %}
                            <h6 class="card-title"><i class="bi bi-wifi" style="color: green"></i></h6>
                            {% else %}
                            <h6 class="card-title"><i class="bi bi-people-fill" style="color: purple"></i></h6>
                            {% endif %}
                        </div>

                          <div class="col">
                              {% if club.meeting_online == True %}
                            <h6 class="card-title" style="color: green">Online</h6>
                            {% else %}
                            <h6 class="card-title" style="color: purple">In-Person</h6>
                            {% endif %}

                          </div>
                      </div>



                    </div>
                    </div>
                    <div class="card w-100">
                        <div class="card-body text-center">
                            {% if current_user == club.owner %}
                      <a class="btn btn-default" href="{% url 'schedule_meeting' pk=club.pk %}"><span class="btn btn-dark" style="background-color: brown">Schedule meeting</span></a>
                            {% elif current_user in club.get_all_users%}
                                <a class="btn btn-default">Placeholder</a>
                            {%else%}
                            <form action="{% url 'new_application' club.id %}" method="post">
                              {% csrf_token %}
                                <button type="submit" class="btn btn-default" id="apply-button"><span class="btn btn-dark" style="background-color: brown;">Apply</span></button>
                            </form>
                            {%endif%}
                            <a class="btn btn-default" href="{% url 'club_meetings' club.id %}"><span class="btn btn-dark" style="background-color: brown"></span>See meeting history</a>
                </td>
              </tr>

              <tr>
                  <td class="leave-club">
                      {% if current_user in club.get_members %}
                      <form action="{% url 'leave_club' club.id %}" method="post">
                      {% csrf_token %}
                     <button type="submit" class="btn btn-default" id="leave-button"><span class="btn btn-dark" style="background-color: brown;">Leave {{ club.name }}</button>
                    </form>
                      {%endif%}
                  </td>
              </tr>
              <tr>
                <td>
                    
                </td>
              </tr>
          </table>
      </div>
  </div>
</div>

{% endblock %}
