<!-- club profile page adapted from the chess club project -->
{% extends 'base_content.html' %}
{% block content %}
<div class="home-container">
  <div class="row-home">
      <div>
          <table>
              <tr>
                <td>
                  <img src="{{ club.gravatar }}" alt="Gravatar of {{ club.full_name }}" class="rounded-circle profile-image" >
                </td>
                <td>
                  <span class="user-info">
                    <table>
                      <tr>
                        <!--<td class="user-individual-info">{{ members_number }}</td>-->
                          <td class="user-individual-info">
                            <!--<a href="{% url 'show_user' club.owner club.id %}" style='text-decoration:none; color:blanchedalmond;'>-->
                              {{ owner.full_name }}
                            </a>
                          </td>
                      </tr>
                      <tr>
                        <td class="user-individual-info">members</td>
<!--
                        <td class="user-individual-info"><a href="{% url 'show_user' club.owner club.id %}" style='text-decoration:none; color:blanchedalmond;'>owner</a></td>
-->
                      </tr>
                    </table>
                  </span>
                </td>
              </tr>
              <tr>
                <td>
                  <h3 class="profile-name">{{ club.name }}</h3>
                  <p class="profile-description">{{ club.description }}</p>
                  <p class="profile-location">{{ club.location }}</p>
                </td>
                <td class="club-info">
                  {% if club not in clubs_already_applied and club not in clubs_owned%}
                    <a href="{% url 'new_application' club.id%}">
                      <button type="submit" class="btn btn-primary" id="apply-button">Apply</button>
                    </a>
                  {% endif %}
                </td>
              </tr>
          </table>
      </div>
  </div>
</div>

<!--
{% if is_member %}
  <div class="club-member-list">
    <table class="table" style="color:blanchedalmond;">
      <tr>
        <td><a href="{% url 'show_user' club.owner club.id %}"><img src="{{ owner.mini_gravatar }}" alt="Gravatar of {{ owner.full_name }}" class="rounded-circle"></a></td>
        <td><a href="{% url 'show_user' club.owner club.id %}" style='text-decoration:none; color:blanchedalmond;'>{{ owner.full_name }}</a></td>
        <td><a href="{% url 'show_user' club.owner club.id %}" style='text-decoration:none; color:blanchedalmond;'>owner</a></td>
      </tr>
      {% for officer in officers %}
      <tr>
        <td><a href="{% url 'show_user' officer.id club.id %}"><img src="{{ officer.mini_gravatar }}" alt="Gravatar of {{ officer.full_name }}" class="rounded-circle"></a></td>
        <td><a href="{% url 'show_user' officer.id club.id %}" style='text-decoration:none; color:blanchedalmond;'>{{ officer.full_name }}</a></td>
        <td><a href="{% url 'show_user' officer.id club.id %}" style='text-decoration:none; color:blanchedalmond;'>officer</a></td>
      </tr>
      {%endfor%}
      {% for member in members %}
      <tr>
        <td><a href="{% url 'show_user' member.id club.id%}"><img src="{{ member.mini_gravatar }}" alt="Gravatar of {{ member.full_name }}" class="rounded-circle"></a></td>
        <td><a href="{% url 'show_user' member.id club.id%}" style='text-decoration:none; color:blanchedalmond;'>{{ member.full_name }}</a></td>
        <td><a href="{% url 'show_user' member.id club.id%}" style='text-decoration:none; color:blanchedalmond;'>member</a></td>
      </tr>
      {%endfor%}
    </table>
  </div>
{% endif %}-->
{% endblock %}
