{% extends 'base_content.html' %}
{% load bootstrap_pagination %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            <h1>Meetings Archive for {{ club.name }}</h1>
            <div class="book-table">
                {% bootstrap_paginate page_obj range=6 previous_label="Previous" next_label="Next" show_first_last="true" %}
                <table class="table table-hover">
                    <thead>
                  <tr>
                      <th scope="col">Date</th>
                      <th scope="col">Address</th>
                      <th scope="col"></th>
                  </tr>
                </thead>
                <tbody>
                  {% for meeting in club.get_meetings %}
                  <tr class="clickable-row" data-href="#">
                    <td>{{ meeting.date }}</td>
                    <td>{{ meeting.address }}</td>
                    <td><a class="btn btn-default" href="#"><span class="btn btn-dark">Edit</span></a></td>
                  </tr>
                  {% endfor %}
                </tbody>
                  </table>
                  {% bootstrap_paginate page_obj range=6 previous_label="Previous" next_label="Next" show_first_last="true" %}
              </div>
        </div>
    </div>
</div>
{% endblock %}