{% extends 'base_content.html' %}
{% block content %}
<div class="container" style="padding-top: 25px;">

{% if request.user in club.get_all_users %}
  <div class="row">
    <div class="col-4">
    <div class="card w-100 text-center">
    <div class="card-body">
      <img src="{{ club.gravatar }}" alt="Gravatar of {{ club.name }}" class="profile-image" style="border-radius: 10px">
      <br>
      <br>
      <h3>{{ club.name }}</h3>
      <p>{{ club.description }}</p>
    </div>
    </div>
        <br>

        <div class="row">


                <div class="col-6">
                    <div class="row">
                       <h5 class="text-left"><strong>Latest Meetings</strong></h5>
                    </div>
                    <div class="row">
                        {% if meetings %}
                         <a href="{% url 'club_meetings' club.id %}" style="text-decoration: none;">View All</a>
                        {% endif %}
                    </div>
                </div>

                <div class="col-6">

                    {% if current_user == club.owner%}
                            <a class="btn float-end" id="bookwiseGeneralBtn" href="{% url 'schedule_meeting' club.id %}" style="padding: 15px; text-transform:uppercase; font-size: 14px"><i class="bi bi-calendar-plus"></i> Schedule Meeting</a>
                    {% elif current_user in club.get_organisers and club.organiser_owner  %}
                          <a class="btn float-end" id="bookwiseGeneralBtn" href="{% url 'schedule_meeting' club.id %}" style="padding: 15px; text-transform:uppercase; font-size: 14px"><i class="bi bi-calendar-plus"></i> Schedule Meeting</a>
                    {% endif %}


            </div>

        {% if meetings %}
                {% for meeting in meetings %}
                     <div class="card w-100 mx-auto" style="margin-top: 10px; border-color: black">
    <div class="card-body">
        <div class="row">

        <div class="col-3">
                <h6 class="card-title"><i class="bi bi-calendar3"></i></h6>
                <h6 class="card-title"><i class="bi bi-clock"></i></h6>
            <h6 class="card-title"><i class="bi bi-geo-fill"></i></h6>


              </div>
              <div class="col-6">
                <h6 class="card-title">{{ meeting.date }}</h6>
                  <h6 class="card-title">{{ meeting.start_time|date:"G:i" }}</h6>
                  <a href=//{{meeting.address}} target="_blank" rel="noopener noreferrer"><h6 class="card-title">{{ meeting.address }}</h6></a>
              </div>



            </div>
            </div>

            </div>
            {% endfor %}
        {% else %}


            <div class="row">
            <div class="col">
                <br>
              <p class="text-muted"><strong>{{ club.name }}</strong> does not have any meetings</p>
            </div>
            </div>






        {% endif %}
        </div>

    </div>


    <div class="col-5">

    <div class="row">
            <div class="col-6">
                <div class="row">
                   <h5 class="text-left"><strong>Latest Posts</strong></h5>


                </div>
                <div class="row">
                    {% if posts %}
                    <a href="{% url 'feed' club.id %}" style="text-decoration: none;">View All</a>
                    {% endif %}
                </div>
                </div>


                <div class="col-6">

                    {% if current_user == club.owner%}
                        <button type="button" class="btn float-end" id="bookwiseGeneralBtn" data-bs-toggle="modal" data-bs-target="#staticBackdrop" style="padding: 15px; text-transform:uppercase; font-size: 14px"><i class="bi bi-chat-square-text"></i> New Post</button>
                    {% elif current_user in club.get_organisers and club.organiser_owner  %}
                        <button type="button" class="btn float-end" id="bookwiseGeneralBtn" data-bs-toggle="modal" data-bs-target="#staticBackdrop" style='padding: 15px; text-transform:uppercase; font-size: 14px'>
                            <i class="bi bi-chat-square-text"></i> New Post
                        </button>
                    {% endif %}

            </div>
    </div>


    {% if posts %}
            {% for post in posts %}


                <div class="card mt-2 w-100" id="homepagePosts" style="border-color: brown; border-style: groove">
                  <div class="row g-0">
                    <div class="col-3 my-auto text-left">
                      <img src="{{ post.author.gravatar}}" id="post_icon" class="img-fluid rounded-circle" alt="{{post.author}}'s gravatar">
                    </div>
                    <div class="col-9">
                      <div class="card-body">
                        <p class="card-text fw-bold">{{ post.text }}</p>
                          <div class="row">
                              <div class="col-6">
                                  <p class="card-text" style="color: #B0B0B0; font-size: 14px"><i class="bi bi-person-fill"></i><a href="{% url 'user_profile' post.author.id %}" style="text-decoration: none; color: grey"> <strong>{{ post.author.get_full_name }}</strong></a></p>

                              </div>
                              <div class="col-6">

                              </div>
                          </div>

                      </div>
                    </div>

                  </div>
                <div class="card-footer">
                        <small class="text-muted">{{ post.created_at|date:"M y G:i" }}</small>
                    </div>
                </div>
            {% endfor %}
        {% else %}

        <div class="row">
            <div class="col text-center">
                <br>
              <p class="text-muted"><strong>{{ club.name }}</strong> does not have any posts</p>
            </div>
            </div>

    {% endif %}
    </div>

    <div class="col-3">
    {% if current_user == club.owner %}
        <a class="btn float-end mb-3" id="bookwiseGeneralBtn" style="padding: 15px; text-transform:uppercase; font-size: 14px" href="{% url 'edit_club' c_pk=club.id %}"><i class="bi bi-pencil-square"></i> Edit Club</a>
    {% endif %}


    <table class="table table-hover table-borderless" style="border-style: groove; border-color: brown">
            <tr>
                <td><i class="bi bi-geo-alt" style="color: #0d6ffd"></i></td>
                <td style="color: #0d6ffd">{{club.location}}</td>
            </tr>
            <tr>
                <td><a href="{% url 'club_members' club.id %}" style="text-decoration: none;"><i class="bi bi-person-badge"></i></a></td>
                <td><a href="{% url 'club_members' club.id %}" style="text-decoration: none;">{{club.get_all_users|length}} members</a></td>
            </tr>
            <tr>
                <td><a href="{% url 'user_profile' club.owner.id %}" style="text-decoration: none;"><i class="bi bi-person"></i></a></td>
                <td><a href="{% url 'user_profile' club.owner.id %}" style="text-decoration: none;">{{ club.owner.first_name }} {{ club.owner.last_name }}</a></td>
            </tr>
            <tr>
                 {% if club.meeting_online == True %}
                    <td><i class="bi bi-wifi" style="color: green"></i></td>
                     <td style="color: green">Online</td>
                 {% else %}
                    <td><i class="bi bi-check-circle" style="color: purple"></i></td>
                     <td style="color: purple">In-Person</td>
                {% endif %}
            </tr>
            <tr>
                {% if club.organiser_owner %}
                    <td><i class="bi bi-check-circle" style="color: #0d6ffd"></i></td>
                    <td style="color: #0d6ffd">Organiser Privileges</td>
                {% endif %}
            </tr>
        </table>


    <br>

    <div class="col text-center">
        <h5 class="text-left"><strong>Options</strong></h5>
    <div class="row mx-auto">


            {% if current_user not in club.get_all_users and club not in applied_to%}
          <form action="{% url 'new_application' club.id %}" method="post">
            {% csrf_token %}
            <button type="submit" class="btn" id="bookwiseGeneralBtn" style="padding: 15px; text-transform:uppercase; font-size: 14px"><i class="bi bi-check-square"></i> Apply</button>
          </form>
          {%endif%}
        {% if club in applied_to %}
            <button type="submit" class="btn w-50 mx-auto" aria-disabled="true" style="padding: 15px; color: white; background-color: #353535; text-transform:uppercase; font-size: 14px"><i class="bi bi-check-square"></i> Applied</button>
        {% endif %}

              {% if current_user in club.get_members %}
              <form action="{% url 'leave_club' club.id %}" method="post">
                {% csrf_token %}
                  <button type="submit" class="btn" id="bookwiseGeneralBtn" style="padding: 15px; text-transform:uppercase; font-size: 14px"><i class="bi bi-box-arrow-left"></i> Leave</button>
              </form>
              {% elif current_user in club.get_organisers %}
              <form action="{% url 'leave_club' club.id %}" method="post">
                {% csrf_token %}
                  <button type="submit" class="btn" id="bookwiseGeneralBtn" style="padding: 15px; text-transform:uppercase; font-size: 14px"><i class="bi bi-box-arrow-left"></i> Leave</button>
              </form>
              {% elif current_user == club.get_owner %}
              <form action="{% url 'disband_club' club.id %}" method=post>
                {% csrf_token %}
                  <button type="submit" class="btn" id="bookwiseGeneralBtn" style="padding: 15px; text-transform:uppercase; font-size: 14px"><i class="bi bi-x-octagon"></i> Disband</button>
                </form>


              {%endif%}

                </div>

        </div>
    </div>
    </div>
    </div>
    <br>

    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Create a post</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="{% url 'new_post' club.id %}" method="post">
          {% csrf_token %}
          {% include 'partials/bootstrap_form.html' with form=form %}
          <button type="submit" class="btn float-end" id="bookwiseGeneralBtn">Post</button>
        </form>
      </div>
    </div>
  </div>
    {% else %}

    <div class="row">
    <div class="col-6">

    <div class="card w-100">
    <div class="card-body">
        <div class="row">
            <div class="col-6">
                <img src="{{ club.gravatar }}" alt="Gravatar of {{ club.name }}" class="profile-image" style="border-radius: 10px">
            </div>
            <div class="col-6">
                <strong><i class="bi bi-lock-fill float-end" style="font-size: 64px; color: #353535"></i></strong>
            </div>

        </div>
      <br>
      <br>
      <h3>{{ club.name }}</h3>
      <p>{{ club.description }}</p>
    </div>
    </div>
    </div>
    <div class="col-6">
    <div class="row">
        <table class="table table-hover table-borderless" style="border-style: groove; border-color: brown">
            <tr>
                <td><i class="bi bi-geo-alt" style="color: #0d6ffd"></i></td>
                <td style="color: #0d6ffd">{{club.location}}</td>
            </tr>
            <tr>
                <td><a style="text-decoration: none;"><i class="bi bi-person-badge"></i></a></td>
                <td><a style="text-decoration: none;">{{club.get_all_users|length}} members</a></td>
            </tr>
            <tr>
                <td><a href="{% url 'user_profile' club.owner.id %}" style="text-decoration: none;"><i class="bi bi-person"></i></a></td>
                <td><a href="{% url 'user_profile' club.owner.id %}" style="text-decoration: none;">{{ club.owner.first_name }} {{ club.owner.last_name }}</a></td>
            </tr>
            <tr>
                 {% if club.meeting_online == True %}
                    <td><i class="bi bi-wifi" style="color: green"></i></td>
                     <td style="color: green">Online</td>
                 {% else %}
                    <td><i class="bi bi-check-circle" style="color: purple"></i></td>
                     <td style="color: purple">In-Person</td>
                {% endif %}
            </tr>
            <tr>
                {% if club.organiser_owner %}
                    <td><i class="bi bi-check-circle" style="color: #0d6ffd"></i></td>
                    <td style="color: #0d6ffd">Organiser Privileges</td>
                {% endif %}
            </tr>
        </table>

    </div>
    <div class="row">

     <p class="text-muted">You must be a member of <strong>{{ club.name }}</strong> to gain access - apply below.</p>

             {% if current_user not in club.get_all_users and club not in applied_to%}
          <form action="{% url 'new_application' club.id %}" method="post" class="text-center">
            {% csrf_token %}
            <button type="submit" class="btn w-50" id="bookwiseGeneralBtn" style="padding: 15px; text-transform:uppercase; font-size: 14px"><i class="bi bi-check-square"></i> Apply</button>
          </form>
          {%endif%}
        {% if club in applied_to %}
            <button type="submit" class="btn w-50 mx-auto" aria-disabled="true" style="padding: 15px; color: white; background-color: #353535; text-transform:uppercase; font-size: 14px"><i class="bi bi-check-square"></i> Applied</button>
        {% endif %}
    </div>
    </div>

    </div>



    {% endif %}
</div>




    {% endblock %}
