{% extends 'base_content.html' %}
{% block content %}

<div class="container">

  <div class="row">

      <div class="col-6 mx-auto" style="background-color: white; border-radius: 10px ;border-style: groove; border-color: brown;">
          <h2 class="fw-bold" style="margin-top: 10px">Edit Profile</h2>
          <form method="post">
        {% csrf_token %}
        {% include 'partials/bootstrap_form.html' with form=form %}
        <input type="submit" value="Edit Profile" class="btn" id="bookwiseGeneralBtn" style="margin-bottom: 10px">
    </form>
      </div>




  </div>
</div>

{% endblock %}
