{% extends 'base_content.html' %}
{% load bootstrap_pagination %}
{% block content %}


{% if books %}
<div class="container">
  <h2 class="text-left"><strong>My Favourites</strong></h2>
  <div class="book-table">
    <table class="table table-hover table-borderless">
      <thead>
        <tr>
          <th scope="col"></th>
          <th scope="col">Title</th>
          <th scope="col">Author</th>
          <th scope="col">Publication Year</th>
        </tr>
      </thead>
      <tbody>
        {% for entry in books %}
        <tr class="clickable-row" data-href="{% url 'book_profile' entry.id %}">
          <td><img src="{{ entry.medium_url }}" alt="a"></td>
          <td>{{ entry.title }}</td>
          <td>{{ entry.author }}</td>
          <td>{{ entry.pub_year }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% bootstrap_paginate page_obj range=6 previous_label="Previous" next_label="Next" show_first_last="true" %}
  </div>
</div>
{% else %}
<div class="row mt-5">
  <div class="col-3">

  </div>
  <div class="col-6 text-center">
    <h5 class="text-muted">You have not selected any favourites yet.</h5>
    <br>
    <a class="btn" style="background-color: brown; text-transform: uppercase; color: white"
      href="{% url 'book_list' %}">View Books</a>
  </div>
  <div class="col-3">

  </div>

</div>
{% endif %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script>
  jQuery(document).ready(function ($) {
    $(".clickable-row").click(function () {
      window.location = $(this).data("href");
    });
  });
</script>
{% endblock %}