<!-- adapted from clucker project -->
{% extends 'base_content.html' %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-lg-6 col-xl-4">
      <h3>New Club Post</h3>
        <form action="{% url 'new_post' club.id %}" method="post">
        {% csrf_token %}
        {% include 'partials/bootstrap_form.html' with form=form %}
        <button type="submit" class="btn btn-primary">Send</button>
      </form>
    </div>
    <div class="col-xs-12 col-lg-6 col-xl-8">
      <h1>Feed</h1>
      <p><b></b>This page will contain the feed of this club.</p>
    </div>
  </div>
</div>
{% endblock %}