{% extends 'base_content.html' %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-12 p-5">
      <h3>Your Chats</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 p-5">
      <form method="GET" action="{% url 'create_chat' %}">
        <button class="btn" style="background-color: brown; color: white" type="submit">Start a Conversation</button>
      </form>
    </div>
  </div>
  {% for chat in chats.all %}
  <div class="row mb-3">
    <div class="card col-md-12 p-3 shadow-sm">
      <h5>
          {%if request.user == chat.receiver%}
            {{ chat.user }}
          {%else%}
            {{ chat.receiver }}
          {%endif%}
      </h5>
      <a class="stretched-link" href="{% url 'chat' chat.pk %}"></a>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock content %}
