{% extends 'base.html' %}
{% load static %}
{% block body %}
<div id ="cover-image">
    <div class="row h-100">
        <div class="card cover-card vh-100 align-right">
          <h1 class="cover-heading fw-bold text-left" style="font-size: 42px; color:white; margin-top: 100px"> <img src="{% static 'images/bookwise.svg' %}" height="60" width="40">ookwise</h1>
          <br>
          <p class="cover-text fw-bold text-left" style="font-size: 36px; color:white; padding-top: 20px;">Make reading social.</p>
          <br>
          <div class="vertical-center-bottom my-auto mx-auto">
            <p class="cover-text fw-bold text-center" style="font-size: 14px; text-transform:uppercase; color: white"><strong>Connect with Fellow Book Lovers</strong></p>
            <br>
            <div class="container text-center">
            <a href="{% url 'login' %}" class="btn btn-lg" style="background-color: brown; color: white">
              Log in
            </a>
            <div class="content" style="padding-top: 5px; padding-bottom: 5px; color:white">
                <div class="row">
                    <div class="col">
            <hr style="width: 100%">
                        </div>
                    <div class="col-3">
            <strong>or</strong>
                        </div>
                    <div class="col">
            <hr class="ms-auto" style="width: 100%">
                        </div>
                    </div>
            </div>

          <p>
            <a href="{% url 'sign_up' %}" class="btn btn-lg" style="background-color: white; color: brown">
              Sign up
            </a>
          </p>
            </div>
          </div>
        </div>  
  </div>
</div>
{% endblock%}
