{% extends 'base.html' %}
{% load static %}
{% block body %}
<div id ="cover-image">
  <div class="container vh-100">
    <div class="row h-100">
      <div class="col-12 my-auto">
        <div class="card cover-card offset-md-3 offset-lg-4">
          <h1 class="cover-heading fw-bold text-center" style="font-size: 36px"> <img src="{% static 'images/bookwise.svg' %}" height="60" width="40">ookwise</h1>
          <br>
            <p class="cover-text fw-bold text-muted text-center" style="font-size: 14px"><strong>CONNECT WITH FELLOW BOOK LOVERS</strong></p>
            <br>
            <div class="container text-center">
            <a href="{% url 'log_in' %}" class="btn btn-lg btn-secondary" style="background-color: brown">
              Log in
            </a>
            <div class="content">
                <div class="row">
                    <div class="col">
            <hr style="width: 100%">
                        </div>
                    <div class="col-2">
            <strong>or</strong>
                        </div>
                    <div class="col">
            <hr class="ms-auto" style="width: 100%">
                        </div>
                    </div>
            </div>

          <p>
            <a href="{% url 'sign_up' %}" class="btn btn-lg btn-dark">
              Sign up
            </a>
          </p>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock%}
