{% extends 'base.html' %}
{% load static %}
{% block body %}

<div id ="cover-image">
    <div class="row h-100">
        <div class="card cover-card vh-100 align-right">
          <h1 class="cover-heading fw-bold text-left" style="font-size: 42px; color:white; margin-top: 100px"> <img src="{% static 'images/bookwise.svg' %}" height="60" width="40">ookwise</h1>
          <br>
          <p class="cover-text fw-bold text-left" style="font-size: 36px; color:white; padding-top: 20px;">Welcome Back!</p>
          <br>
            <div class="container text-center">
                {% include 'partials/messages.html' %}
                <section class="text-white">
                <form class="modal-content animate bg-black" action="{% url 'login' %}" method="post">
    <h3><strong>Log in</strong></h3>
   {%  csrf_token  %}
        <input type ="hidden" name="next" value ="{{ next }}">
         {%  include 'partials/bootstrap_form.html' with form=form %}
        <input type ="submit" value ="Log in" class ="btn" id="bookwiseGeneralBtn">
        <a href="/password_reset">Forgot password?</a>
        <table>
          <thead>
              <tr>
                  <th scope="col"></th>
                  <th scope="col"></th>
              </tr>
          </thead>
          <tbody>
            <td style='text-align:left; vertical-align:middle'><a class="btn" id="bookwiseGeneralBtn" href="/">Back</a></td>
            <td style='text-align:right; vertical-align:middle'><a class="btn" id="bookwiseGeneralBtn" href="{% url 'sign_up' %}">Not a user yet?</a></td>
          </tbody>
        </table>
     </form>
                    </section>
            </div>
        </div>
    </div>
</div>

{% endblock%}
