{% extends 'base_content.html' %}
{% block content %}
{% load static %}
<div class="container text-center">
<h2><strong>Welcome Back!</strong></h2>
<div class="container">
  <div class="row">
    <div class="col-12">
  <form class="modal-content animate" action="{% url 'login' %}" method="post">
    <h3><strong>Log in</strong></h3>
   {%  csrf_token  %}
        <input type ="hidden" name="next" value ="{{ next }}">
         {%  include 'partials/bootstrap_form.html' with form=form %}
        <input type ="submit" value ="Log in" class ="btn btn-primary" style="background-color: brown">
        <a href="/password_reset">Forgot password?</a>
        <table>
          <thead>
              <tr>
                  <th scope="col"></th>
                  <th scope="col"></th>
              </tr>
          </thead>
          <tbody>
            <td style='text-align:left; vertical-align:middle'><a class="btn btn-default" href="/"><span class="btn btn-dark" style="background-color: brown">Back</span></a></td>
            <td style='text-align:right; vertical-align:middle'><a class="btn btn-default" href="/sign_up/"><span class="btn btn-dark" style="background-color: brown">Not a user yet?</span></a></td>
          </tbody>
        </table>
     </form>
     </div>
     </div>
 </div>
 </div>
 {% endblock %}
