{% extends 'base_content.html' %}
{% block content %}

<div class="container">
  <div class="row">
    <div class="col-6 mx-auto" style="background-color: white; border-radius: 10px ;border-style: groove; border-color: brown; padding-top: 10px; padding-bottom: 10px">
          <h2 class="fw-bold">Create New Club</h2>
      <form action="{% url 'new_club' %}" method="post">
        {% csrf_token %}
          {% include 'partials/bootstrap_form.html' with form=form %}
        <input id="create-new-club-button" type="submit" value="Create Club" class="btn btn-md" style="background-color: brown; color: white" >
      </form>
        </div>
  </div>
</div>
{% endblock %}

