{% extends 'base_content.html' %}
{% block content %}
<div class="container mt-3">
  <div class="row content">
    <h1>Edit profile</h1>
    <form method="post">
        {% csrf_token %}
        {% include 'partials/bootstrap_form.html' with form=form %}
        <input type="submit" value="Edit profile" class="btn btn-primary" style="background-color: brown">
    </form>
  </div>
</div>

<div class="col-5">

    <div class="row">
            <div class="col-6">
                <div class="row">
                   <h5 class="text-left"><strong>Latest Posts</strong></h5>


                </div>
                <div class="row">
                    {% if posts %}
                    <a href="{% url 'user_feed' user_id %}" style="text-decoration: none;">View All</a>
                    {% endif %}
                </div>
                </div>


                <div class="col-6">
                           <button type="button" id="bookwiseGeneralBtn" class="btn float-end" data-bs-toggle="modal" data-bs-target="#staticBackdrop" style='padding: 15px; text-transform:uppercase; font-size: 14px'>
                            <i class="bi bi-chat-square-text"></i> New Post
                        </button>

            </div>
    </div>


    {% if posts %}

            {% for post in posts %}

                <div class="card w-100 mx-auto" style="margin-top: 10px; border-color: brown">

                            <div class="card-body">
                            <h6 class="card-title text-left"><strong>{{ post.text }}</strong></h6>
                                <p class="card-text" style="color: #B0B0B0; font-size: 14px"><i class="bi bi-person-fill"></i> {{ post.author.get_full_name }}</p>
                            </div>

                        <div class="card-footer">
                            <small class="text-muted">{{ post.created_at|date:"G:i" }}</small>
                        </div>
                </div>
            {% endfor %}
        {% else %}

        <div class="row">
            <div class="col text-center">
                <br>
              <p class="text-muted"><strong>{{ author.name }}</strong> does not have any posts</p>
            </div>
            </div>

    {% endif %}
    </div>


<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Create a post</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="{% url 'user_new_post' user.id %}" method="post">
          {% csrf_token %}
          {% include 'partials/bootstrap_form.html' with form=form %}
          <button type="submit" class="btn btn-dark" style="" id="bookwiseGeneralBtn">Post</button>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}
