{% extends 'base_content.html' %}
{% load bootstrap_pagination %}
{% block content %}
{% if books %}
    <div class="container">
    <div class="row">
        <div class="col-12">
   <h2 class="text-left"><strong>Reading List</strong></h2>
              <h5 class="text-muted">All Books in Your Reading List</h5>
        </div>
</div>
<div>
  <table class="table table-hover table-borderless">
    <thead>
  <tr>
    <th scope="col"></th>
    <th scope="col">Title</th>
    <th scope="col">Author</th>
    <th scope="col">Publication Year</th>
  </tr>
</thead>
  {% for book in page_obj %}
  <tbody>
  <tr class="clickable-row" data-href="{% url 'book_profile' book.id %}">
    <td><img src="{{ book.medium_url }}" alt="a"></td>
    <td>{{ book.title }}</td>
    <td>{{ book.author }}</td>
    <td>{{ book.pub_year }}</td>
    {% if user.id == request.user.id %}
    <form action="{% url 'remove_from_reading_list' book.id %}" method="post">
      {% csrf_token %}
     <td><button type="submit" class="btn" id="bookwiseGeneralBtn" style="font-size: 20px"><i class="bi bi-bookmarks-fill"></i></button></td>
   </form>
   {% endif %}
  </tr>
</tbody>
  {% endfor %}
  </table>
</div>
      {% bootstrap_paginate page_obj range=6 previous_label="Previous" next_label="Next" show_first_last="true" %}

</div>
{% else %}
{% if user.id == request.user.id %}
<div class="mt-5" style="text-align: center;">
     <h5 class="text-muted text-center">You do not have any books in your reading list</h5>
        <br>
            <a class="btn" id="bookwiseGeneralBtn" style="text-transform: uppercase;" href="{% url 'book_list' %}">View All Books</a>
</div>
{% else %}
<div class="mt-5" style="text-align: center;">
     <h5 class="text-muted text-center">{{ user.get_full_name }} does not have any books in their reading list</h5>
</div>
{% endif %}
{% endif %}
<script>
  jQuery(document).ready(function($) {
      $(".clickable-row").click(function() {
          window.location = $(this).data("href");
      });
  });
</script>
{% endblock %}
