{% extends 'base_content.html' %}
{% load static %}
{% block content %}

<div class="container">

{% if query %}
	<h3>Search results for "{{ query }}"</h3>
	<br/>




<div class="accordion" id="accordionPanelsStayOpenExample">
  <div class="accordion-item">
    <h2 class="accordion-header" id="panelsStayOpen-headingOne">
      <button class="accordion-button" style="background-color: brown; color: white" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
        Books<span class="badge bg-dark" style="margin-left: 10px">{{ books|length }}</span>
      </button>
    </h2>
    <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
      <div class="accordion-body">

      {% if books %}

	  <div class="book-results-table">
			<table class="table table-hover">
	        <thead>
	      <tr>
	        <th scope="col">Cover Page</th>
	        <th scope="col">Title</th>
	        <th scope="col">Author</th>
	      </tr>
	    </thead>
	    <tbody>
	      {% for book in books %}
	      <tr class="clickable-row" data-href="{% url 'book_profile' book.id %}">
	        <td><img src = {{ book.medium_url }} BR CLEAR= 'left'></td>
	        <td>{{ book.title }}</td>
	        <td>{{ book.author }}</td>
	      </tr>
	      {% endfor %}
	    </tbody>
	      </table>
	  </div>

          {% else %}

          <p class="text-center">Search did not find any <strong>books</strong> to match your query.</p>

          {% endif %}

      </div>
      </div>
    </div>

  <div class="accordion-item">
    <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
      <button class="accordion-button collapsed" style="background-color: brown; color: white" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
        Clubs<span class="badge bg-dark" style="margin-left: 10px">{{ clubs|length }}</span>
      </button>
    </h2>
    <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">
      <div class="accordion-body">

      {% if clubs %}
          <div class="club-results-table">
			<table class="table table-hover">
					<thead>
				<tr>
					<th scope="col">Club Image</th>
					<th scope="col">Name</th>
					<th scope="col">Location</th>
				</tr>
			</thead>
			<tbody>
				{% for club in clubs %}
				<tr class="clickable-row" data-href="{% url 'club_profile' club.id %}">
					<td><img src="{{ club.mini_gravatar }}" alt="Gravatar of club {{ club.name }}" class="rounded-circle" ></td>
					<td>{{ club.name }}</td>
					<td>{{ club.location }}</td>
				</tr>
				{% endfor %}
			</tbody>
				</table>
		</div>

          {% else %}

          <p class="text-center">Search did not find any <strong>clubs</strong> to match your query.</p>

          {% endif %}
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="panelsStayOpen-headingThree">
      <button class="accordion-button collapsed" style="background-color: brown; color: white" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
        Users<span class="badge bg-dark" style="margin-left: 10px">{{ users|length }}</span>
      </button>
    </h2>
    <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingThree">
      <div class="accordion-body">
    {% if users %}

		<div class="user-results-table">
			<table class="table table-hover">
					<thead>
				<tr>
					<th scope="col">Profile Picture</th>
					<th scope="col">Name</th>
					<th scope="col">Location</th>
				</tr>
			</thead>
			<tbody>
				{% for user in users %}
				<tr class="clickable-row" data-href="{% url 'user_profile' user.id %}">
					<td><img src ="{{ user.gravatar }}" class="rounded-circle" alt="{{ user.email }} gravatar"></td>
					<td>{{ user.first_name }} {{ user.last_name }}</td>
					<td>{{ user.location }}</td>
				</tr>
				{% endfor %}
			</tbody>
				</table>
		</div>

      {% else %}

          <p class="text-center">Search did not find any <strong>users</strong> to match your query.</p>

          {% endif %}
      </div>
    </div>
  </div>
</div>
</div>

	{% else %}
		<h1>Please enter a search term</h1>
	{% endif %}
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	<script>
	  jQuery(document).ready(function($) {
	      $(".clickable-row").click(function() {
	          window.location = $(this).data("href");
	      });
	  });
	</script>

{% endblock %}
