{% extends 'base_content.html' %}
{% load static %}
{% block content %}

	{% if query %}
		<h1>You Searched For {{ query }}</h1>
		<br/>

		{% for book in books %}

			<div class="card">
  <div class="card-header">
    Books
  </div>
  <div class="card-body">
    <img src = {{ book.small_url }} height='180' width='120' BR CLEAR= 'left'>
  </div>
  <p>{{ book.title }}</p>
  <p>by {{ book.author }}</p>
	<br/>


		{% endfor %}

	{% else %}
		<<h1></h1>>Please enter a search term</h1>
	{% endif %}





{% endblock %}
