{% extends 'base.html' %}
{% load static %}
{% block body %}
<div id ="cover-image">
    <div class="card cover-card vh-100 align-right">
        <div class="row me-auto fw-bold" style="margin-left: 5%">
                <a class="btn" href="{% url 'landing_page' %}" id="startingScreensBackBtn" style="font-size: 36px"><strong><i class="bi bi-arrow-left"></i></strong></a>
        </div>

        <div class="row w-75 mx-auto" style="color: white">
            <h1 class="cover-heading fw-bold text-left" style="font-size: 42px; color:white; margin-top: 24px"> <img src="{% static 'images/bookwise.svg' %}" height="60" width="40" alt="Bookwise logo">ookwise</h1>
            <p class="cover-text fw-bold text-left" style="font-size: 36px; color:white; padding-top: 10px;">Welcome to Bookwise</p>
            <h3 class="text-left mt-3 mb-3" style="color: white"><strong>Sign up</strong></h3>
            {% include 'partials/messages.html' %}
            <form action="{% url 'sign_up' %}" method="post">
                {% csrf_token %}
                {% include 'partials/bootstrap_form.html' with form=form %}
                <input type="submit" value="Sign up" class="btn w-50 mt-3" style="padding: 10px; text-transform: uppercase" id="bookwiseGeneralBtn">
            </form>
        </div>
    </div>
</div>
{% endblock %}
