{% extends 'base_content.html' %}
{% block content %}
{% load static %}
<div class="container text-center">
  <h2><strong>Welcome to Bookwise!</strong></h2>
  <div class="container">
  <div class="row">
    <div class="col-12">
      <form class="modal-content animate" action="{% url 'sign_up' %}" method="post">
        <h3><strong>Sign up</strong></h3>
        {% csrf_token %}
        {% include 'partials/bootstrap_form.html' with form=form %}
        <input type="submit" value="Sign up" class="btn" style="background-color: brown; color: white">
        <table>
          <thead>
              <tr>
                  <th scope="col"></th>
                  <th scope="col"></th>
              </tr>
          </thead>
          <tbody>
            <td style='text-align:left; vertical-align:middle'><a class="btn" href="/"><span class="btn" style="background-color: brown; color: white">Back</span></a></td>
            <td style='text-align:right; vertical-align:middle'><a class="btn" href="{% url 'login' %}" style="background-color: brown; color: white">Already a User?</a></td>
          </tbody>
        </table>

      </form>
    </div>
  </div>
  </div>
</div>
{% endblock %}
