{% extends 'base_content.html' %}
{% load bootstrap_pagination %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-12">
    <h2 class="text-left"><strong>Browse Users</strong></h2>
    <h5 class="text-muted">View All Users</h5>
      <table class="table table-hover table-borderless">
        <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col">Name</th>
                <th scope="col">Bio</th>
                <th scope="col">Email</th>
                <th scope="col">Favourite Genre</th>
            </tr>
        </thead>
        <tbody>
          {% for user in users %}

          <tr class="clickable-row" data-href="{% url 'user_profile' user.id %}">
              <td><a href="{% url 'user_profile' user.id %}"><img src="{{ user.mini_gravatar }}" alt="Gravatar of user {{ user.name }}" class="rounded-circle" ></a></td>
              <td>{{ user.first_name}} {{ user.last_name}}</td>
              <td>{{ user.public_bio}}</td>
              <td>{{ user.email}}</td>
              <td>{{ user.favourite_genre }}</td>
              {% if user in request.user.get_users_followees %}
              <form action="{% url 'unfollow_from_user_list' user_id=user.id %}" method="post">
                {% csrf_token %}
                <td><button type="submit" class="btn btn-dark" style="background-color: brown">Unfollow</button></td>
              </form>
              {% else %}
              <form action="{% url 'follow_from_user_list' user_id=user.id %}" method="post">
                {% csrf_token %}
                <td><button type="submit" class="btn btn-dark" style="background-color: brown">Follow</button></td>
              </form>
              {% endif %}
          </tr>
          {% endfor %}
        </tbody>
      </table>
      {% bootstrap_paginate page_obj range=6 previous_label="Previous" next_label="Next" show_first_last="true" %}
    </div>
  </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script>
  jQuery(document).ready(function($) {
      $(".clickable-row").click(function() {
          window.location = $(this).data("href");
      });
  });
</script>
{% endblock %}
