{% extends 'base_content.html' %}
{% load bootstrap_pagination %}
{% block content %}
<div class="container">
{% if posts %}

    <div class="row">
        <div class="col">
            <h1>Posts of {{  }}</h1>
            <div class="book-table">
                <table class="table table-hover table-borderless">
                    <thead>
                  <tr>
                      <th scope="col"></th>
                      <th scope="col">Post</th>
                      <th scope="col">Time</th>
                  </tr>
                </thead>
                <tbody>
                  {% for post in posts %}
                  <tr class="clickable-row" data-href="#">
                    <td><img src='{{ post.author.gravatar }}' alt="{{ post.author }}'s Gravatar" class="rounded-circle"></td>
                    <td>{{ post.text }}</td>
                    <td>{{ post.created_at }}</td>
                  </tr>
                  {% endfor %}
                </tbody>
                  </table>
              </div>
        </div>
    </div>

{% else %}
    <div class="mt-5" style="text-align: center;">
         <h5 class="text-muted text-center"><strong>{{ user.name }}</strong> does not have any posts</h5>
    </div>

{% endif %}
</div>
{% endblock %}