

{% extends 'base_content.html' %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-12">
      <h1>Users</h1>
      <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">Date Joined</th>
            </tr>
          </thead>
        <tbody>
          {% for user in users %}
              <tr>
                <td>{{ user.get_full_name}}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.date_joined }}</td>
              </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}
