{% extends 'base_content.html' %}
{% block content %}
<div class="container mt-3">
  <div class="row content">
    <div class="col-12">
      <center><img src="{{ user.gravatar }}" alt="Gravatar of {{ user.first_name }} {{ user.last_name }}" class="rounded-circle profile-image"></center>
      <div class="profile-text">
        <center>
        <h3 class="profile-name">{{ user.first_name }} {{ user.last_name }}</h3>
        <p class="profile-email">{{ user.email }}</p>
      </center>
      </div>
    </div>
  </div>
  <hr>
  <div class="row content">
    <div class="col-12">
      <center>
        <p class="profile-bio">Public Bio: {{ user.public_bio }}</p>
        <p class="profile-ps">Favourite Genre: {{ user.favourite_genre }}</p>
        <p class="profile-name">Location: {{ user.location }}</p>
        <p class="profile-name">Age: {{ user.age }}</p>
      </center>
    </div>
  </div>
</div>
{% endblock %}
