
#cover-image {
    background: url('images/background.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    height: 100%;
  }

  h1.cover-heading {
    color: rgb(255, 255, 255);
    font-size: 4rem;
  }

  p.cover-text {
    font-size: 1.7rem;
  }

  .vertical-center-bottom {
    margin: 0;
    position: absolute;
    top: 65%;
    -ms-transform: translateY(-65%);
    transform: translateY(-65%);
  }

  .cover-card {
    background-color: rgb(43, 42, 42);
    max-width: 35rem;
    padding-top: 30px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 30px;
    border-radius: 0;
    margin-right: 0;
    margin-left: auto;

  }
  .cover-card-block {
    opacity: 1
  }

  img {
    float:"left";
  }

  .inbox-icon-container {
    margin-right: 15px;
  }
  .inbox-icon {
    color: #333;
    transition: 0.5s;
  }
  .inbox-icon:hover {
    transition: 0.5s;
  }
  .sent-message {
    background-color: #f3f3f3;
    border-radius: 30px;
    padding: 10px 25px;
    width: 25%;
    float: right;
  }
  .received-message {
    background-color: rgb(1, 196, 255);
    color: #fff;
    border-radius: 30px;
    padding: 10px 25px;
    width: 25%;
    
  }
  .empty-text {
    color: #777;
    font-size: 1.5rem;
    text-align: center;
  }
