
#cover-image {
    background: url('images/cover_image.jpeg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    height: 100%;
  }


#recommendationCard:hover {
  background-color: whitesmoke;
  box-shadow: black;
  transform: scale(1.05);
}


#clubSelectorCard:hover {
  background-color: whitesmoke;
  box-shadow: black;
  transform: scale(1.01);
}

#homepagePosts:hover {
  background-color: whitesmoke;
  box-shadow: black;
  transform: scale(1.01);
}


  h1.cover-heading {
    color: rgb(255, 255, 255);
    font-size: 4rem;
  }

  p.cover-text {
    font-size: 1.7rem;
  }


  .cover-card {
    background-color: rgba(255, 255, 255, 0.1);
    border-color: brown;
    max-width: 35rem;
    border-radius: 0;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    
  }

  .cover-card-block {
    opacity: 1
  }

  .inbox-icon-container {
    margin-right: 15px;
  }
  .inbox-icon {
    color: #333;
    transition: 0.5s;
  }
  .inbox-icon:hover {
    transition: 0.5s;
  }
  .sent-message {
    background-color: #f3f3f3;
    border-radius: 30px;
    padding: 10px 25px;
    width: 25%;
    float: right;
  }
  .received-message {
    background-color: darkslategray;
    color: #fff;
    border-radius: 30px;
    padding: 10px 25px;
    width: 25%;
    float: left;
    
  }
  .empty-text {
    color: #777;
    font-size: 1.5rem;
    text-align: center;
  }

  .bottom_align {
    position:absolute;                 
    bottom:0;                         
    left:0;                         
  }

  button.link {
    background:none; 
    border:none;
  }

  #timestamp {
    text-align: right;
    opacity: 50%;
    font-size: small;
  }

  #timestamp_receiver {
    text-align: right;
    opacity: 50%;
    font-size: small;
  }

  #post_icon {
    display: block;
    margin-left: 15%;
    height: 72px;
    width: 72px;

  }
  
  #bookwiseGeneralBtn.btn {
    background-color: brown;
    color: white;
  }

  #bookwiseGeneralBtn.btn:hover {
    background-color: white;
    border-style: groove;
    border-color: brown;
    color: brown;
  }

  #logInBtn.btn {
    background-color: brown;
    color: white;
  }

  #logInBtn.btn:hover {
    background-color: black;
    border-color: white;
    color: white;
    border-style: groove;
  }

  #followBtn.btn {
    background-color: #0275d8;
    color: white;
  }

  #followBtn.btn:hover {
    background-color: white;
    color: #0275d8;
    border-style: groove;
    border-color: #0275d8;
  }

  #unfollowBtn.btn {
    background-color: #292b2c;
    color: white;
  }

  #unfollowBtn.btn:hover {
    background-color: white;
    color: #292b2c;
    border-color: #292b2c;
    border-style: groove;
  }


  #signUpBtn.btn {
    background-color: white;
    color: brown;
    border-color: brown;
  }

  #signUpBtn.btn:hover {
    background-color: black;
    border-color: white;
    color: white;
    border-style: groove;


  }


  #startingScreensBackBtn.btn {
    background-color: black;
    color: white;
  }

  #startingScreensBackBtn.btn:hover {
    color: brown;
    transform: scale(1.25);
  }

  





