
#cover-image {
    background: url('images/background.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    height: 100%;
  }

  h1.cover-heading {
    color: rgb(255, 255, 255);
    font-size: 4rem;
  }

  p.cover-text {
    font-size: 1.7rem;
  }

  .vertical-center-bottom {
    margin: 0;
    position: absolute;
    top: 65%;
    -ms-transform: translateY(-65%);
    transform: translateY(-65%);
  }

  .cover-card {
    background-color: rgb(43, 42, 42);
    max-width: 40rem;
    padding-top: 30px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 30px;
    border-radius: 0;
    margin-right: 0;
    margin-left: auto;

  }
  .cover-card-block {
    opacity: 1
  }


