<div class="collapse navbar-collapse" id="navbarSupportedContent">
  <ul class="navbar-nav me-auto mb-2 mb-lg-0">
    <li class="nav-item">
      <a class="nav-link" href="{% url 'club_list' %}">Clubs</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'user_list' %}">Users</a>
    </li>
    <li class="nav-item">
    <a class="nav-link" href="{% url 'book_list' %}">Books</a>
  </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'applications' %}">Applications</a>
    </li>
    {% for entry in club_memberships %}
    <li class="nav-item">
      <a class="nav-link" href="{{ entry.id }}">{{ forloop.counter }}. {{ entry.get_name }}</a>
    </li>
    {% endfor %}
  </ul>
  <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
      {% if True %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'club_selector' %}">My Clubs</a>
    </li>
      {% endif %}
    <li class="nav-item dropdown">
      <a class="nav-link" href="#" id="user-account-dropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        <span class="bi-person-circle"></span>
      </a>
      <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="user-account-dropdown">
        <li><a class="dropdown-item" href="{% url 'profile' %}">Edit profile</a></li>
        <li><a class="dropdown-item" href="{% url 'password' %}">Edit password</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" href="{% url 'log_out' %}">Log out</a></li>
      </ul>
    </li>
  </ul>
</div>
