{% if messages %}
  <div class="container">
    <div class="row">
      <div class="col-12">
        {% for message in messages %}
          <div id="bookwise_messages" class="alert alert-{{ message.level_tag }}" role="alert">
            {{ message }}
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
    <script>
        const message_ele = document.getElementById("bookwise_messages");
        setTimeout(function(){
       message_ele.style.display = "none";
    }, 3000);
    </script>
{% endif %}
