<!-- adapted from clucker project -->
{% load humanize %}
<tr>
  <td>
    <img src="{{ post.author.mini_gravatar }}" alt="Gravatar of author {{ post.author.email }}" class="rounded-circle">
  </td>
  <td>
    <p class="post-author">
      <span class="post-author-fullname">
        {{ post.author.full_name }}
      </span>
      <span class="post-author-user-details">
        {{ post.author.email }}
        &nbsp;&middot;&nbsp;
        {{ post.created_at|naturaltime }}
      </span>
    </p>
    <p class="post-text">
      {{ post.text }}
    </p>
  </td>
</tr>